.writing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.writing-header-container {
  background-image: url("../../images/writing-flowers.png");
  margin-top: 4vh;
  width: 100%;
  height: 24vh;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.writing-header-text {
  font-size: 2.5vw;
  color: #cccccc;
  font-weight: 200;
}

.main-writing-section {
  color: #cccccc;
  width: 80%;
  font-size: 1.5vw;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.writing-example-containers {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.writing-examples {
  width: 75%;
}

.download-button {
  background-color: #a46262;
  color: #cccccc;
  font-size: 1vw;
  width: 18%;
  border-radius: 15px;
  cursor: pointer;
  border: solid 0px #a46262;
  text-decoration: none;
  text-align: center;
  padding: 1.25vh 0;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .writing-header-container {
    height: 10vh;
  }

  .writing-header-text {
    font-size: 4vw;
  }

  .main-writing-section {
    font-size: 2vw;
  }

  .writing-image {
    height: 30vh;
  }
}
