.profile-section {
  width: 100%;
}

.bio-header-container {
  background-image: url("../../images/hero-flowers.png");
  background-size: cover;
  width: 100%;
  height: 24vh;
}

.top-bio-text {
  padding: 8rem 0 1rem 0;
}

.bio-text {
  color: #afafaf;
  font-size: 2vw;
  margin: 0 auto;
  width: 80%;
}

.bold-name-text {
  color: #eeeeee;
}

.bold-text {
  color: #eeeeee;
  cursor: pointer;
}

.bold-text:hover {
  font-weight: 500;
  color: #ffffff;
}

.profile-pic-container {
  width: 100%;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
}

.profile-pic {
  width: 60%;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .bio-header-container {
    height: 10vh;
  }

  .top-bio-text {
    padding: 2rem 0 0 0;
  }

  .bio-text {
    font-size: 3vw;
  }
}
