.full-page-container {
  display: flex;
}

.main-section-container {
  background-color: #000000;
  height: 5735px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100vw - 350px);
}

.profile {
  width: 100%;
}

.work {
  width: 100%;
}

.ux-ui-header-container {
  background-image: url("../images/uxui-header-flowers.png");
}

.tech-skills-header-container {
  background-image: url("../images/tech-skills-flowers.png");
}

.soft-skills-header-container {
  background-image: url("../images/soft-skills-flowers.png");
}

.case-studies-header-container {
  background-image: url("../images/case-studies-flowers.png");
}

.work-header-container {
  margin-top: 4vh;
  width: 100%;
  height: 24vh;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.center-work-header {
  width: 80%;
  display: flex;
  justify-content: center;
}

.left-work-header {
  width: 80%;
}

.work-header-text {
  font-size: 2.5vw;
  color: #ffffff;
  font-weight: 400;
}

.work-header-text-small {
  font-size: 2vw;
  color: #ffffff;
  font-weight: 400;
}

.work-container {
  display: flex;
  align-items: center;
}

.arrow-spacing {
  width: 10%;
}

.arrow {
  cursor: pointer;
  height: 4rem;
  min-width: 4rem;
  padding: 0 3rem;
}

.main-work-section {
  width: 80%;
  height: 65vh;
}

.left-arrow {
  transform: rotate(180deg);
}

.case-studies-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.case-studies-button {
  background-color: #a46262;
  color: #ffffff;
  font-size: 1vw;
  height: 5vh;
  width: 10vw;
  border-radius: 15px;
  cursor: pointer;
}
