.skills-section {
    background-image: url('../images/skills-background.png');
    height: 112vh;
}

.case-studies-section {
  background-image: url('../images/case-studies-background.png');
  height: 112vh;
}

.contact-section {
  background-image: url('../images/contact-background.png');
  height: 112vh;
}