.tech-skills-section {
  display: flex;
  flex-direction: column;
}

.tech-skills-containers {
  color: #cccccc;
}

.tech-skills-section-headers {
  color: #cccccc;
  font-size: 2vw;
  font-weight: 300;
}

.tech-skills-subheader {
  color: #cccccc;
  font-weight: 300;
  font-size: 1.5vw;
}

.tech-skills-list-container {
  font-size: 1vw;
  color: #cccccc;
  font-weight: 300;
  padding: 2vh 0 0 14vw;
}

@media screen and (max-width: 1200px) {
  .tech-skills-section-headers {
    font-size: 2.5vw;
  }

  .tech-skills-subheader {
    font-size: 2vw;
  }

  .tech-skills-list-container {
    font-size: 2vw;
  }
}
