.nasa-header-to-page-spacing {
  background-color: #000000;
  height: 5vh;
  width: 100vw;
}

.nasa-case-study-full-page {
  background-image: url("../../images/nasa-case-study.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #000000;
  height: 3800px;
  width: 100vw;
}
