.about-section {
  align-items: center;
  display: flex;
  background-image: url('../../images/about-background.png');
  flex-direction: column;
  height: 112vh;
  justify-content: center;
}

.about-top-section {
  display: flex;
  height: 30%;
  width: 56%;
}

.about-header-and-p1-container {
  width: 70%;
}

.about-header {
  font-size: 5vw;
  font-weight: 500;
  margin: 0 0 10vh 0;
  padding-right: 5rem;
  text-align: right;
}

.about-text {
  font-size: 2vw;
}

.about-headshot {
  background-color: black;
  color: white;
  text-align: center;
  width: 30%;
}

.about-lower-sections {
  height: 10%;
  width: 56%;
}
