.case-studies-section {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 92%;
}

/* 
.project-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
} */
