.project {
  height: 22vh;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-text {
  font-size: 1.5vw;
  text-decoration: none;
  width: 60%;
  color: #cccccc;
  font-weight: 200;
}

.nasa-image {
  width: 32%;
  padding-right: 7vw;
}

.inkbook-image {
  width: 30%;
}

.bloom-image {
  width: 45%;
  padding-right: 4vw;
}

@media screen and (max-width: 1200px) {
  .project-text {
    font-size: 2vw;
  }
}
