.project {
  height: 22vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.project-text {
  font-size: 1vw;
  padding-left: 65%;
  width: 90%;
}

@media screen and (max-width: 1200px) {
  .project-text {
    font-size: 2vw;
  }
}
