.case-studies-main-container {
  color: #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-container {
  width: 60%;
  color: #cccccc;
  font-size: 1vw;
  font-weight: 300;
}

.case-studies-description-text {
  margin-bottom: 0.5vh;
}

.team-and-type-container {
  display: flex;
  justify-content: space-between;
}

.case-studies-arrow-spacing {
  width: 10%;
}

.case-studies-arrow {
  cursor: pointer;
  width: 3vw;
  padding: 0 3vw;
  outline: none;
}

.case-studies-main-section {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-case-studies-content {
  height: 45vh;
  margin: 0 10vw;
}

.case-studies-left-arrow {
  transform: rotate(180deg);
}
